/* styles/styles.css */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
 }

 a{
   text-decoration: none;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
 }

 p{
  font-family: 'Montserrat', sans-serif;
 }
  
.search-header{
  background-color: black;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .search-header h1{ 
    font-size: 2rem;
    text-align: center;
  } 
  .search-header img{ 
    display: none;
  }  
  .search-header{ 
    justify-content: center;
    display: flex;
  }
  .logo{
    text-align: center;
  }    
}
.logo{
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
}
.search-header img{
  max-width: 4rem;
  height: auto;
  width: 100%;
  max-height: 4rem;
}

.search-header h1,p{
  margin: 0;
}

.search-header a{
  color: white;
  text-decoration: none;
  display: inline;
}

  .container {
    max-width: 1400px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
  }
  
.text-center{
  text-align: center;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

  .flex-wrap{
    flex-wrap: wrap;
  }

.justify-content-center{
  justify-content: center;
}

.relative{
  position: relative;
}

  .button{
    padding: 0.5rem 2rem;
    cursor: pointer;
    background-color: black;
    color: white;
    letter-spacing: 0.1px;
    border-radius: 5px;
    border: 1px solid black;
    transition: ease all .2s;
    box-shadow: 0 0 20px 0 #0000001a;
    font-size: 16px;
  }

  
  @media screen and (min-width: 768px) {    
    .button:hover{
      background-color: white;
      color: black;
      transition: ease all .2s;
      box-shadow: none;
    }
}