.movie-wrapper {
    position: relative;
    padding-top: 30vh;
    padding-bottom: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  @media (max-width: 1028px) {
    .movie-wrapper {
      padding-top: 15rem;
      padding-bottom: 15rem;
    }
  }

  .detailed-movie{
    padding: 0rem 1rem;
  }
  
  @media (max-width: 600px) {
    .movie-wrapper {
      padding-top: 10rem;
      padding-bottom: 10rem;
      height: 0rem;
    }
    .movie-info .poster{
      display: none;
    }
    .detailed-movie{
      padding: 0rem;
    }
  }


  
  .movie-info {
    background: white;
    text-align: left;
    display: flex;
    gap: 1rem;
    max-width: 60rem;
    padding: 2rem 0rem;
    margin: 0rem auto;
  }
  
.trailer-button{
  display: inline-block;
  margin-top: 1rem;
}

  
  .movie-title {
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-size: 3rem;
    font-weight: 600;
  }
  
  .movie-info .poster {
    position: relative;
    max-height: 30rem;
  }

.movie-image{
  max-width: 200px;
}
  
  @media (max-width: 768px) {
    .movie-info {
      padding: 1rem;
    }
    .movie-image{
      max-width: 47%;
    }
    .movie-title {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 600px) {
    .movie-info {
      display: flex;
      flex-direction: column;
    }

  }
  .back-parent{
    width: 100%;
  }

  .back-parent .button{
    margin: 2rem auto;
  }

  .movie-info h3 {
    font-weight: 600;
    margin-bottom: 0rem;
  }

  .gap{
    gap: 1rem
  }

  .similar-movies{
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0rem;
  }


  .similar-movies .single-card{
    width: 31%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  @media (max-width: 768px){
    .similar-movies .single-card{
      width: 47%;
    }
  }

  @media (max-width: 600px){
    .similar-movies .single-card{
      width: 100%;
    }
  }

  .movie-image{
    cursor: pointer
}